# FRONTEND (Vite / React de Figma Make)
# ==========================================
node_modules/
**/dist/
**/dist-ssr/
**/.env*

# ==========================================
# BACKEND (Java / Maven de Spring Boot)
# ==========================================
# Ocultar tu archivo nuevo con contraseñas reales
**/src/main/resources/application-local.properties

# Archivos temporales de compilación pesados
**/target/
**/build/
**/.mvn/

# Archivos de ayuda y documentación local
**/HELP.md

# ==========================================
# EDITORES DE CÓDIGO (VS Code, IntelliJ)
# ==========================================
.vscode/
.idea/
.DS_Store
*.iml